<div class="sobre">
        <div class="imagem">
            <img class="resized-img" src="https://avatars.githubusercontent.com/u/179061896?v=4">
        </div>
        <div class="paragrafo">
            <h3>
                Sou Milene Machado, aspirante a desenvolvedora de software.<br>
                Com vontade de aprender e superar desafios, busco desenvolver habilidades técnicas<br> 
                e explorar as infinitas possibilidades que a tecnologia oferece. Sempre aberta a novos conhecimentos,<br>
                empenhada em construir um futuro promissor na área de desenvolvimento de software.
            </h3>
        
        </div>

    
</div>

