<mat-toolbar>

  <span style="margin-left:  50px;">Menu</span> 
  
  <div class="butao example-button-row">
    <a mat-stroked-button href="https://github.com/milenemachado" style="margin-right: 35px;" target="_blank">github</a>
    <a mat-stroked-button href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMTgmLfhRtMmDHwFzfJHHjTdwblqtkhfcvmCKdTQTXTwPRLXVTQgwHbpsKFBRkJHVZpzlbd" style="margin-right: 35px;" target="_blank">mail</a>
    <a mat-stroked-button href="https://www.linkedin.com/in/milene-machado-653262328//" style="margin-right: 35px;" target="_blank">linkedin</a>
    <a mat-stroked-button href="https://wa.me/5581987464025" style="margin-right: 35px;" target="_blank">contate-me</a>
  </div>

</mat-toolbar>

