
<h1 class="titulo">Projetos realizados</h1>
<div class="card-container">
    <div>
        <mat-card  class = "card example-card"  appearance = "outlined" style="width: 300px;" > 
            <mat-card-header > 
              <div  mat-card-avatar  class = "example-header-image" > </div > 
              <mat-card-title style="text-align: center;" > Urna Eletronica </mat-card-title > 
              <mat-card-subtitle style="text-align: center;"  > JAVA </mat-card-subtitle > 
            </mat-card-header > 
            <img  mat-card-lg-image style="margin: auto; height: auto;" src = "https://imagens.ebc.com.br/5k8_UIazXEAKq8w3-PDjqXxSWts=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/atoms/image/urna_jose_cruz_2350.jpg?itok=3lX1IFNK"  alt = "UrnaEletronica" > 

            <mat-card-actions class="button-conteiner"> 
              <button  mat-button><a class="button" href="https://github.com/milenemachado/UrnaEletronicaJava">CÓDIGO</a>  </button > 
            </mat-card-actions > 
          </mat-card >
    </div>
    <div>
        <mat-card  class = "card example-card"  appearance = "outlined" style="width: 300px;" > 
            <mat-card-header > 
              <div  mat-card-avatar  class = "example-header-image" > </div > 
              <mat-card-title style="text-align: center;" >Jogo Mario</mat-card-title > 
              <mat-card-subtitle style="text-align: center;" > HTML</mat-card-subtitle > 
            </mat-card-header > 
            <img  mat-card-lg-image style="margin: auto; height: auto;"   src = "https://i.pinimg.com/originals/4e/f7/da/4ef7dae19f52af9ff5acc58d8aed9ccd.gif"  alt = "Jogo Mario" > 
            <mat-card-actions class="button-conteiner" > 
              <button  mat-button ><a class="button" href="https://github.com/milenemachado/JogoMarioHTML">CÓDIGO</a></button > 
            </mat-card-actions > 
          </mat-card >
    </div>

    <div>
        <mat-card  class = "card example-card"  appearance = "outlined" style="width: 300px;" > 
            <mat-card-header > 
              <div  mat-card-avatar  class = "example-header-image" > </div > 
              <mat-card-title style="text-align: center;" > Portifólio FrontEnd </mat-card-title > 
              <mat-card-subtitle style="text-align: center;" > BOOTSTRAP </mat-card-subtitle > 
            </mat-card-header > 
            <img  mat-card-lg-image style="margin: auto; height: auto;"  src = "https://github.com/milenemachado/Portiflio-FrontEnd/blob/main/portifolio.png?raw=true"  alt = "Portiflio-FrontEnd" > 

            <mat-card-actions class="button-conteiner" > 
              <button  mat-button ><a class="button" href="https://github.com/milenemachado/Portiflio-FrontEnd">CÓDIGO</a></button > 
            </mat-card-actions > 
          </mat-card >
    </div>


</div>

