.titulo{
   text-align: center;
   margin-top: 100px;
}
.card-container {
    display: flex;
    justify-content: center;
  }
.card{
    margin-left: 25px;
}
.button{
    color: #808080;
    text-decoration: none;

}
.button-conteiner{
    display: flex;
    margin: auto;

}
